.task-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: transparent;
  .btn {
    display: flex;
    justify-content: center;
    button {
      background: transparent;
      border: none;
      text-align: center;
      color: #fff;
    }
  }
  .task-list-item  {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 12px;
    background: red;
  }
  .completed {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    background: green;
  }

}