.container {
  border-radius: 8px;
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
}

.todoList {
  display: flex;
  justify-content: center;
}